# --- Entorn Virtual ---
.venv/
venv/

# --- Python ---
__pycache__/
*.pyc

# --- Dades (MAI pujar al GitHub) ---
*.parquet
*.csv
*.json
minio_data/
minio_data_old/
Data/
STCBIGdata_project2-feature-*/

# --- MinIO Internals ---
.minio.sys/
**/.minio.sys/

# --- Mac/Windows ---
.DS_Store
Thumbs.db